@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-navy: #0D1D35;
  --color-cadence-orange: #FF7A00;
  --color-aero-teal: #00C2A8;
  --color-swim: #0077FF;
  --color-bike: #F2C94C;
  --color-run: #EB5757;
}

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-white text-slate-900;
}

.dark body {
  @apply bg-slate-900 text-slate-100;
}